// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap');


/* === CSS Reset === */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1609847772945-c6e77f92cf10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

a, div {
  cursor: pointer;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 32px;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;

  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #F8B378, 0 0 15px #B9805F, 0 0 20px #B9805F, 0 0 25px #B9805F, 0 0 30px #B9805F, 0 0 35px #574541;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #F8B378, 0 0 20px #F8B378, 0 0 25px #F8B378, 0 0 30px #F8B378, 0 0 35px #B9805F, 0 0 40px #574541;
    }
  }
}

