{% extends 'base.html' %} {% block content %}


{% block title %} Sign Up {% endblock %}
</head>
<body>
  <section class="contain-form">
    <h1 class="title">Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="signup-submit-btn">
        <button type="submit" class="btn signup-submit">Sign Up</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <a href={{"/accounts/login"}}>Already have an account?</a>
      </div>
    </form>
  </section>
</body>

{% endblock %}