{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <!-- Local Styles -->
  <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock styles %}

{% block script %}
  <!-- Local Scripts-->
  <script src="{% static 'scripts/carousel.js' %}" defer></script>
{% endblock script %}


{% block title %} Home {% endblock %}
</head>

<body>
{% block header %}Home{% endblock header %}

{% block content %}

<div class="container-slider">
  <h2>Recent Projects</h2>
  <div class="carousel" id="project-carousel">
    <div class="slider" id="project-slider">
      {% for project in projects %}
      <section class="card-container">
        <a href={% url 'project' project.pk %} class="carousel-card-link">
        <div class="card">
          <div class="img">
            <img src="{{project.img}}" alt="{{project.title}}" class="carousel-img square-img" />
          </div>
          <div class="info">
            <p>{{project.title}}</p>
          </div>
        </div>
        </a>
      </section>
      {% endfor %}
      
    </div>
    <div class="controls">
      <button class="next" id="project-next-btn">next</button>
      <button class="prev" id="project-prev-btn">prev</button>
    </div>
  </div>
</div>

<div class="container-slider">
  <h2>Fellow Creators</h2>
  <div class="carousel" id="profile-carousel">
    <div class="slider" id="profile-slider">
      {% for profile in profiles %}
      <section class="card-container">
        <a href={% url 'profile' profile.pk %} class="carousel-card-link">
        <div class="card">
          <div class="img">
            <img src="{{profile.image}}" alt="{{profile.user}}" class="carousel-img square-img" />
          </div>
          <div class="info">
            <p>{{profile.user}}</p>
          </div>
        </div>
        </a>
      </section>
      {% endfor %}
      
    </div>
    <div class="controls">
      <button class="next" id="profile-next-btn">next</button>
      <button class="prev" id="profile-prev-btn">prev</button>
    </div>
  </div>
</div>














{% comment %} 
    </div>

    <div class="filter_view" id="profile_filter">
      <h3>Your Fellow Creators</h3>
      <div class="card_list" id="profile_card_list">
        {% for profile in profiles %}
          <a href="{% url 'profile' profile.pk %}">
            <div class="card">
              <div class="card-image">
                <figure class="image is-square">
                  <img src="{{profile.image}}" alt="image of {{profile.user}}" />
                </figure>
              </div>
              <div class="card-header">
                <p class="card-header-title">{{profile.user}}</p>
              </div>
            </div>
          </a>

      {% endfor %}

    </div>
  </div> {% endcomment %}

  
{% endblock %}
</body>
</html>