{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <!-- Local Styles -->
  <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock styles %}

{% block script %}
  <!-- Local Scripts-->
  <script src="{% static 'scripts/carousel.js' %}" defer></script>
{% endblock script %}


{% block title %} Home {% endblock %}
</head>

<body>
{% block header %}Home{% endblock header %}

{% block content %}

<div class="container-slider">
  <div class="carousel">
    <div class="slider">
      {% for project in projects %}
      <section class="card-container">
        <div class="card">
          <div class="img">
            <img src="{{project.img}}" alt="{{project.title}}" class="carousel-img" />
          </div>
          <div class="info">
            <p>{{project.title}}</p>
          </div>
        </div>
      </section>
      {% endfor %}
      
    </div>
    <div class="controls">
      <button class="next">next</button>
      <button class="prev">prev</button>
    </div>
  </div>
</div>











        
          {% comment %} <div class="card">
            <a href="{% url 'project' project.pk %}">
            <div class="img">
              <img src="{{project.img}}" alt="{{project.title}}" />
            </div>
            <div class="info">
              <p class="card-header-title">{{project.title}}</p>
          </div> {% endcomment %}
        




          {% comment %} <div class="card">
            <div class="card-image">
              <figure class="project-pic-square"> 
                <img src="{{project.img}}" alt="{{project.title}}" />
              </figure>
            </div>
            <div class="card-header">
              <p class="card-header-title">{{project.title}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endcomment %}







{% comment %} 
    </div>

    <div class="filter_view" id="profile_filter">
      <h3>Your Fellow Creators</h3>
      <div class="card_list" id="profile_card_list">
        {% for profile in profiles %}
          <a href="{% url 'profile' profile.pk %}">
            <div class="card">
              <div class="card-image">
                <figure class="image is-square">
                  <img src="{{profile.image}}" alt="image of {{profile.user}}" />
                </figure>
              </div>
              <div class="card-header">
                <p class="card-header-title">{{profile.user}}</p>
              </div>
            </div>
          </a>

      {% endfor %}

    </div>
  </div> {% endcomment %}

  
{% endblock %}
</body>
</html>