{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <!-- Local Styles -->
  <link rel="stylesheet" href="{% static 'styles/createupate.css' %}" />
{% endblock styles %}

{% block script %}
  <!-- Local Scripts-->

{% endblock script %}


{% block title %} Welcome! {{profile.user}} {% endblock %}
</head>

<body>
{% block header %}Profile: {{profile.user}}{% endblock header %}



{% block content %}

<form method="post">
<!-- Security Feature -->
  {% csrf_token %}
<!-- Generate Inputs -->
  {{form.as_p}}
<!-- Submit Form -->
  <input type="submit" value="Submit" />
</form>

{% endblock content %}