{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <!-- Local Styles -->
  <link rel="stylesheet" href="{% static 'styles/detail.css' %}" />
{% endblock styles %}

{% block script %}
  <!-- Local Scripts-->

{% endblock script %}


{% block title %} Profile: {{profile.user}} {% endblock %}
</head>

<body>
{% block header %}Profile: {{profile.user}}{% endblock header %}

{% block content %}

  <container class="page">
    <section class="left-info">
      <div class="card" id="profile-page-card">
        <div class="img">
          <img src="{{profile.image}}" alt="{{profile.user}}" class="square-img" />
        </div>
        <div class="info">
          <p>{{profile.location}}</p>
        </div>
      </div>
      <div class="skill-container">
        <h3>Current Skills</h3>
        <div class="skills_current skill-keeper">
          {% for skill in profile.skills_current.all %}
          <div class="skill-card">{{skill.name}}</div>
          {% endfor %}
        </div>

        <h3>Skills I Want to Learn</h3>
        <div class="skills_learn skill-keeper">
          {% for skill in profile.skills_learn.all %}
          <div class="skill-card">{{skill.name}}</div>
          {% endfor %}
        </div>
      </div>

      <div class="buttons">
        <a href="{% url "profile_update" profile.pk %}" class="button btn-update">
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        </a>
        <a href="{% url 'profile_delete' user.pk %}" class="button btn-delete">
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
    </section>

    <section class="right-info">
    <div class="detail_about">
      <h2>About Me</h2>
      <p>{{profile.about}}</p>
    </div>


    <div class="project-container">
      <h2>My Projects</h2>
        <div class="my-project-keeper">
        {% for project in user.projects.all %}
          <div class="card">
            <a href="{% url 'project' project.pk %}">
            <div class="img">
              <img src="{{project.img}}" alt="{{project.title}}" class="square-img" />
            </div>
            </a>
            <div class="info">
              <p>{{project.title}}</p>
            </div>
          </div>
        {% empty %}
        <article class="message">
          <div class="message-header">
            <h5>No Projects Available</h5>
          </div>
        </article>
        <div class="detail__container">
          <a href="{% url 'project_create' user.pk %}" class="button btn-create">
            <span class="icon">
              <i class="far fa-plus-square"></i>
            </span>
          </a>
        </div>
        {% endfor %}
        </div>
      <h2>Collaborative Projects</h2>
        <div class="my-project-keeper">
        {% for project in user.projects_collab.all %}
          <div class="card">
          <a href="{% url 'project' project.pk %}">
            <div class="img">
              <img src="{{project.img}}" alt="{{project.title}}" class="square-img" />
            </div>
            </a>
            <div class="info">
              <p>{{project.title}}</p>
            </div>
          </div>
        {% empty %}
        <article class="message">
          <div class="message-header">
            <h5>No Projects Available</h5>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
    </section>
  </container>
{% endblock content %}
